$primary-clr: #000;
$secondary-clr: #C4F34E;

$white-clr: #fff;
$darkgrey-clr: #616161;
$lightgrey-clr: #f1f1f1;
$btn-dark-hover: #333;
$btn-light-hover: #DDFE8A;
$error-clr: #B72300;

$font-family: 'Archivo', sans-serif !default;
$weight-normal: 400 !default;
$lineheight: 130% !default;
$font-color: $primary-clr !default;
$font-size: 100% !default;
$global-width: 1380px;

$letterspacing: 0.4em;

$margin-bottom: 30px;